---
import Footer from "../components/Footer.astro";
import "../style/mutual.css";
import Header from "../components/Header.astro";
import KurserImg from "../components/KurserImg.astro";
import KurserProdukt from "../components/KurserProdukt.astro";
---

<Header />
<KurserImg title="KURSER" />
<section class="kurser">
  <KurserProdukt titel="WEEKEND DREJEKURSUS" pris="DKK DKK 2,750.00" billede="/images/kurser_1.jpg" />
  <KurserProdukt titel="SØNDAGSSKOLE" pris="DKK 1,200.00" billede="/images/kurser_1.jpg" />
  <KurserProdukt titel="SKULPTUR WORKSHOP" pris="DKK 1,850.00" billede="/images/kurser_1.jpg" />
  <KurserProdukt titel="STORE SKULPTURELLE KRUKKER" pris="DKK 2,500.00" billede="/images/kurser_1.jpg" />
  <KurserProdukt titel="KERAMIK KURSUS (HVERDAGE)" pris="DKK 4,800.00" billede="/images/kurser_1.jpg" />
  <KurserProdukt titel="WEEKDAY EVENING (ENGLISH)" pris="DKK 4,800.00" billede="/images/kurser_1.jpg" />
  <KurserProdukt titel="SØNDAGSSKOLE I DREJNING" pris="DKK 1,500.00" billede="/images/kurser_1.jpg" />
  <KurserProdukt titel="SØNDAGSSKOLE I DREJNING" pris="DKK 1,500.00" billede="/images/kurser_1.jpg" />
  <KurserProdukt titel="SØNDAGSSKOLE I DREJNING" pris="DKK 1,500.00" billede="/images/kurser_1.jpg" />
</section>
<Footer />

<style>
  @media (min-width: 1000px) {
    .kurser {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
