---
import Footer from "../components/Footer.astro";
import "../style/mutual.css";
import Header from "../components/Header.astro";
import Historie from "../components/Historie.astro";
import Omviktoria from "../components/Omviktoria.astro";

---

<Header />

<Omviktoria />


<main>
    <Historie />
</main>

<Footer />

<style>

main {
    margin-inline: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
@media (min-width: 1000px) {
main {
  margin-inline: 7.5%;
  margin-top: 5%;
  margin-bottom: 10%;
}
}

</style>
