<div class="grid">
  <div class="div1">
    <h1 class="overskrift_events">KOMMENDE EVENTS</h1>
    <p>Året igennem afholder Viktoria Ceramic Studio forskellige events og workshops.</p>
    <p>Vi deltager også på forskellige internationale udstillinger og messer, hvor vi sælger vores ting direkte til de besøgende.</p>
  </div>
  <img class="img1" src="../images/Viktoria-168.jpg" alt="" />
</div>

<div class="grid1">
  <img class="img2" src="../images/julemarked_event.png" alt="" />
  <div class="event1">
    <h2>JULEMARKED PÅ KERAMIKVÆRKSTEDET</h2>
    <h3>LOKATION: VIKTORIA CERAMIC STUDIO</h3>
    <button>Se event</button>
  </div>
  <img class="img2" src="../images/jul_event.png" alt="" />
  <div class="event1">
    <h2>JUL PÅ VIKTORIA CERAMIC STUDIO</h2>
    <h3>LOKATION: VIKTORIA CERAMIC STUDIO</h3>
    <button>Se event</button>
  </div>
  <img class="img2" src="../images/bolig_event.png" alt="" />
  <div class="event1">
    <h2>VIKTORIA CERAMIC STUDIO PÅ BOLIG , MAD & DESIGN MESSE</h2>
    <h3>LOKATION: BELLA CENTER COPENHAGEN</h3>
    <button>Se event</button>
  </div>
  <img class="img2" src="../images/clayform_event.png" alt="" />
  <div class="event1">
    <h2>CLAYFORM PÅ FORMLAND</h2>
    <h3>LOKATION: HERNING MESSECENTER</h3>
    <button>Se event</button>
  </div>
  <img class="img2" src="../images/julemarked2019_event.png" alt="" />
  <div class="event1">
    <h2>JULEMARKED HOS VIKTORIA CERAMIC STUDIO 2019</h2>
    <h3>LOKATION: VIKTORIA CERAMIC STUDIO CPH</h3>
    <button>Se event</button>
  </div>
</div>

<style>
  /* mobilefirst version */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f4ede5;
  }

  .div1 {
    margin-left: -4%;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .event1 {
    margin-left: 7.5%;
  }

  .img2 {
    margin-left: 7%;
    padding-top: 38px;
    padding-bottom: 20px;
    width: 87%;
  }

  .img1 {
    margin-left: 8%;
    padding-top: 5px;
    padding-bottom: 30px;
    width: 85%;
  }

  .overskrift_events {
    font-family: "commuters-sans", sans-serif;
    font-size: 28px;
    padding-bottom: 30px;
    margin-left: 12%;
    padding-top: 20px;
  }

  p {
    font-family: "Raleway", sans-serif;
    line-height: 1.5em;
    font-size: 15px;
    padding-bottom: 15px;
    margin-left: 12%;
  }

  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
  }

  h3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 15px;
    padding-bottom: 23px;
    padding-top: 15px;
  }

  button {
    border: none;
    padding: 14px;
    background-color: #104739;
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    border-radius: 5px;
    color: #f4ede5;
    cursor: pointer;
    width: 40%;
  }

  button:hover {
    background-color: whitesmoke;
    color: #104739;
  }

  /* ipad/tablet version */

  @media (min-width: 820px) {
    .overskrift_events {
      margin-left: 12%;
    }
  }

  /* desktop version */
  @media (min-width: 1000px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #f4ede5;
      padding-bottom: 45px;
    }

    .grid1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 40px;
      padding-bottom: 30px;
    }

    .img1 {
      width: 85%;
      padding-top: 60px;
      padding-bottom: 20px;
      margin-left: 10%;
    }

    .img2 {
      width: 77%;
      margin-left: 12%;
      padding-bottom: 60px;
    }

    .event1 {
      margin-left: -2.5%;
      padding-top: 38px;
    }

    .overskrift_events {
      font-family: "commuters-sans", sans-serif;
      font-size: 29px;
      padding-bottom: 30px;
      margin-left: 12.2%;
      padding-top: 70px;
    }

    p {
      font-family: "Raleway", sans-serif;
      line-height: 1.5em;
      font-size: 15px;
      padding-bottom: 20px;
      margin-left: 12%;
    }

    h2 {
      font-family: "commuters-sans", sans-serif;
      font-size: 20px;
      padding-top: 22px;
    }

    h3 {
      font-family: "commuters-sans", sans-serif;
      font-size: 15px;
      padding-bottom: 27px;
      padding-top: 22px;
    }

    button {
      border: none;
      padding: 14px;
      background-color: #104739;
      font-family: "Raleway", sans-serif;
      font-size: 17px;
      border-radius: 5px;
      color: #f4ede5;
      cursor: pointer;
      width: 23%;
    }

    button:hover {
      background-color: whitesmoke;
      color: #104739;
    }
  }
</style>
