<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../styles/mutual.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&family=Quattrocento+Sans&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&family=Raleway:wght@200&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans+SC:wght@100;300&family=Archivo+Narrow&family=Gruppo&family=Montserrat:wght@100;400;500&family=Quicksand:wght@300&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/jcj6agx.css" />
    <title>Header</title>
  </head>
</html>
<body>
  <header id="grid_menu">
    <div class="logo">
      <a href="/"><img src="" alt="logo" /></a>
    </div>
    <button class="toggle-btn">MENU</button>
    <nav id="header-nav">
      <ul class="nav-menu kategorier">
        <li class="nav-item">
          <a href="/kurser" class="nav-link">KURSER</a>
        </li>
        <li class="nav-item">
          <a href="/shop" class="nav-link">SHOP</a>
        </li>
        <li class="nav-item">
          <a href="/events" class="nav-link">EVENTS</a>
        </li>
        <li class="nav-item">
          <a href="/omos" class="nav-link">OM OS</a>
        </li>
        <li class="nav-item">
          <a href="/kontakt" class="nav-link">KONTAKT</a>
        </li>
        

        <div class="icons">
          <input id="sogefelt" type="text" class="form-input input-group-main" placeholder="Søg" name="search" required="" autocomplete="off" />
          <img class="person" src="./images/person.webp" alt="" />
          <img class="kurv" src="./images/kurv.webp" alt="" />
          <p class="flag">🇬🇧</p>
        </div>
      </ul>
    </nav>
  </header>

  <script>
    // ----------------------burgermenu-------------------------

    // En variabel, der refererer til ".toggle-btn"
    const btn = document.querySelector(".toggle-btn");
    // En variabel, der refererer til "nav"
    const nav = document.querySelector("nav");

    // En function, der hedder toggleMenu()
    function toggleMenu() {
      // Toggle klasse "shown", på nav (ved hjælp af classList.toggle)
      nav.classList.toggle("shown");

      // En variabel "menuShown", hvor nav-variblen indeholder klassen "shown" (classList.contains)
      const menuShown = nav.classList.contains("shown");

      // En if/else sætning, der spørger om if (menu)
      if (menuShown) {
        // hvis nav har klassen "shown", er btn.textContent sat til "Luk"
        console.log("luk");
        btn.textContent = "Close";
      } else {
        // hvis IKKE nav har klassen "shown", er btn.textContent sat til "Menu"
        btn.textContent = "Menu";
        console.log("menu");
      }
    }

    /* Et klik-event til btn, der sætter toggleMenu-funktionen i gang */
    btn.addEventListener("click", toggleMenu);
  </script>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    img {
      width: 100%;
      height: auto;
    }

    ul.nav-menu li {
      display: inline;
    }

    header {
      background-color: white;
      top: 0;
      padding: 1rem 2rem;
      padding: 10px;
      padding-left: 10px;
      overflow: hidden;
      padding-bottom: 20px;
      padding-top: 5px;
    }

    a {
      text-decoration: none;
      font-weight: 700;
      color: #1c2d37;
      font-family: "commuters-sans", sans-serif;
      padding: 9px;
      font-size: 11.5px;
      font-weight: 800;
      letter-spacing: 1px;
    }

    a:hover {
      color: palevioletred;
    }

    .nav-menu {
      font-family: "commuters-sans", sans-serif;
      letter-spacing: 1px;
      gap: 60px;
    }
  

    .icons {
      float: right;
      margin-right: 1.5px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    #sogefelt {
      width: 75px;
      padding-right: 20px;
      height: 20px;
    }

    .kurv {
      width: 30%;
      grid-column: 4;
      cursor: pointer;
    }

    .person {
      width: 35%;
      grid-column: 3;
      cursor: pointer;
    }

    .flag {
      grid-column: 5;
      cursor: pointer;
    }

    .kategorier {
      margin-left: 40.2%;
      margin-right: 1.5%;
      font-family: "commuters-sans", sans-serif;
    }

   
    @media (max-width: 600px) {
      .kategorier {
        margin-left: 7.5%;
        font-family: "commuters-sans", sans-serif;
        padding: 10px;
        padding-top: 4px;
      }
    }

    .toggle-btn {
      display: none;
    }

    @media (max-width: 600px) {
      .toggle-btn {
        background: transparent;
        border: none;
        display: block;
        height: 44px;
        padding: 1rem;
        cursor: pointer;
        font-size: 23px;
        font-family: "commuters-sans", sans-serif;
        color: black;
      }

      .toggle-btn:hover {
        color: palevioletred;
      }

      nav {
        display: none;
      }

      nav.shown {
        border-top: 1px solid black;
        padding-top: 1rem;
        display: flex;
        flex-flow: column;
      }

      nav ul {
        display: flex;
        flex-flow: column;
      }
    }
  </style>
</body>
