<div class="grid">
  <div class="div1">
    <h2 class="h2_historie">HISTORIEN BAG</h2>

    <p>Historien bag navnet ”Viktoria” stammer fra da værkstedet lå i en gammel stald i Viktoriagade få gader væk fra dets nuværende placering på Vesterbrogade 24B.</p>
    <p>
      I løbet af Viktoria Ceramic Studio’s historie har mange forskellige keramikere været en del af værkstedet, men i dag er stedet besat af fem permanente keramikere. I 2013 åbnede værkstedet op for offentligheden med en <a href="kontakt#lokation"
        >værkstedsbutik</a
      > , hvor besøgende sidenhen har kunnet komme forbi og se keramikerne arbejde på værkstedet og købe de mange håndlavede værker. Siden 2017 har værkstedet også fungeret som <a href="kurser">keramikskole</a> under navnet ClayArt. Her tilbydes eksklusive
      keramik kurser, hvor værkstedets egne keramikere står for undervisningen, der videregiver deres viden om skabelsen af keramisk kunsthåndværk.
    </p>
    <p>I løbet af året holder Viktoria Ceramic Studio forskellige <a href="events">events og workshops</a> , og værkstedet er altid åbent for forbipasserende.</p>
  </div>

  <div class="div2">
    <center><img alt="vindue" src="/images/vindue.webp"  /></center>
  </div>
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
  }

  .h2_historie {
    font-family: "commuters-sans", sans-serif;
    font-size: 25px;
    padding-bottom: 30px;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 5%;
    line-height: 1.5em;
  }

  .div1 {
    grid-column: 1;
    grid-row: 1;
    padding-left: 0%;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: palevioletred;
  }

  .div2 {
    grid-column: 1;
    grid-row: 2;
  }
  @media (min-width: 1000px) {
    button {
      border: none;
      padding: 20px;
      background-color: palevioletred;
      font-family: "Raleway", sans-serif;
      font-size: 17px;
      border-radius: 5px;
      color: black;
      cursor: pointer;
    }

    button:hover {
      background-color: white;
      color: palevioletred;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    img {
      width: 100%;
    }

    .h2_historie {
      font-family: "commuters-sans", sans-serif;
      font-size: 27px;
      padding-bottom: 30px;
    }

    p {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      padding-bottom: 5%;
      line-height: 1.5em;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: palevioletred;
    }

    .div1 {
      grid-column: 2;
      padding-left: 10%;
    }

    .div2 {
      grid-column: 1;
      grid-row: 1;
    }
  }
</style>
