<div>
    <img src="./images/Viktoria-046.jpg" alt="">
</div>

<style>

    @media (max-width: 600px) {
        img {
            width: 100%;
        }
    }

    img {
            width: 100%;
        }
</style>