
<section>

    <h2>DE FEM KERAMIKERE</h2>
    <p> Værkstedet er arbejdsplads for 5 professionelle keramikere med hver deres individuelle virksomhed. Hver keramiker har deres eget brand og udforsker forskellige teknikker inden for keramik. Alle keramiske produkter i butikken er håndlavet på stedet. Gå på opdagelse i hver deres univers.</p>


</section>


<style>






  section {
    
     margin-inline: 10%;
  margin-top: 5%;
  margin-bottom: 0%;
  }


  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
  }
  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    line-height: 1.5em;
  }
  
@media (min-width: 1000px) {
  section {
  margin-inline: 15%;

  /* max-width: 400px;
  margin: 0 auto; */
}

h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
    /* margin-top: 10%; */
    text-align: center;
 
    
  }
  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    line-height: 1.5em;
    /* margin-bottom: 10%; */
    
  }

}
</style>