
<main>

    <h2>DE FEM KERAMIKERE I VICTORIA CERAMIC STUDIO</h2>
    <p>Hver keramiker har deres eget brand og udforsker forskellige teknikker inden for keramik. 
        Gå på opdagelse i hver deres univers. </p>


</main>


<style>






  main {
    text-align: center;
  }


  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
  }
  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    line-height: 1.5em;
  }
  
@media (min-width: 1000px) {
  main {
  margin-inline: 15%;
  margin-top: 5%;
  margin-bottom: 0%;
}

h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
  }
  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    line-height: 1.5em;
  }

}
</style>