
<main>

    <h2>VICTORIA CERAMIC STUDIO´S 5 KERAMIKERE </h2>
    <p>Hver keramiker har deres eget brand og udforsker forskellige teknikker inden for keramik. 
        Gå på opdagelse i hver deres univers. </p>


</main>


<style>

main {
  margin-inline: 15%;
  margin-top: 5%;
  margin-bottom: 0%;
}

h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 17px;
    padding-bottom: 20px;
  }
  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    line-height: 1.5em;
  }

@media (max-width: 600px) {
  main {
    margin-inline: 15%;
    margin-top: 5%;
    margin-bottom: 0%;
  }


  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 17px;
    padding-bottom: 20px;
  }
  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    line-height: 1.5em;
  }
  
}
</style>