---
const { brand, navn, beskrivelse } = Astro.props;
---

<section id="keramiker3">
  <img src="/images/helle1.jpeg" alt="" />
  <div class="Helle">
    <h2>HELLE HANSEN</h2>
    <div class="text">
      <h3>Skulpturelt brugskunst</h3>
      <p>Helles inspiration i hendes arbejde som keramiker kommer fra en sejltur for 10 år siden, hvor hun lavede et sæt dogmer, der gjorde det muligt at lave keramik på et vuggende skib

        ”Mit eneste værktøj på båden var en ostehøvl, og det er stadig det, jeg bruger i dag til at fremstille lange tynde bånd af ler. Bånd, jeg har udviklet i bredde og længde, nøjagtig så de kan bære sig selv, uanset om emnet er 10 eller 100 cm højt. Alle objekter er unikke, hver med deres eget lille sving og personlighed. Porcelænsleret har et ædelt udtryk og en gennemskinnelighed, der perfekt komplimenterer mine lamper og fyrfadsstager. ” 
        
        De seneste år har Helle tilføjet stentøj til sin kollektion og udviklet en silkemat glasur med lava, der er med til at give hendes arbejde dets unikke udseende.
        
        Hendes produkter er ikke kun dekorative og skulpturelle, men skabt til daglig og langvarig brug.</p>
    </div>
  </div>
</section>

<style>
  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 40px;
    line-height: 30px;
    text-align: center;
  }

  h3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 6%;
  }

  #keramiker3 {
    background-color: #f4ede5;
  }

  img {
    width: 100%;
  }

  section {
      margin-bottom: 40px;
      margin-top: 40px;
    }



  @media (min-width: 1000px) {
    #keramiker3 {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    img {
      margin-left: 200px;
    }
    h2 {
      order: 1;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 600px;
      margin: 0 auto;
    }

    p {
      margin-left: 20%;
    }

    h2 {
      font-family: "commuters-sans", sans-serif;
      font-size: 40px;
      padding-bottom: 30px;
      padding-top: 90px;
      line-height: 30px;
      margin-left: 8%;
    }

    h3 {
      font-family: "commuters-sans", sans-serif;
      font-size: 20px;
      padding-bottom: 30px;
      padding-top: 15px;
      line-height: 30px;
      margin-left: 13%;
    }

    section {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
</style>
