---
const { brand, navn, beskrivelse } = Astro.props;
---

<section id="keramiker4">
  <img src="/images/mark1.webp" alt="" />
  <div class="mark">
    <h2>MARK LAUBERG</h2>
    <div class="text">
      <h3>ØJE FOR DETALJER</h3>
      <p>
        Mark Lauberg har været keramiker og designer i mere end 30 år, og er medejer af keramiker fællesskabet Viktoria Ceramic Studio. I en lang periode arbejdede Mark primært med kunstneriske genstande – formgivning og skabelse af skulpturer der
        udforskede det indvendige rum. I dag laver han også kunsthåndværk med et nordisk og minimalistisk udtryk. Imidlertid er glæden ved modellering og et bankende hjerte for detaljer og form stadig reflekteret i Marks seneste produkt:
        Spirallysestagen.
      </p>
      <div class="socialemedier filter">
        <a href="https://www.instagram.com/marklauberg/"><img src="/images/ig.png" /></a>
        <a href="mailto:marklauberg@gmail.com"><img src="/images/mail.png" /></a>
      </div>
    </div>
  </div>
</section>

<style>
  .socialemedier {
    display: flex;
    justify-content: center;
  }

  .socialemedier.filter a:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 #d87093);
    cursor: pointer;
  }

  .socialemedier img {
    width: 50%;
    margin: 0;
  }

  a {
    color: palevioletred;
    font-family: "commuters-sans", sans-serif;
  }

  a:hover {
    color: black;
  }

  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 40px;
    line-height: 30px;
    text-align: center;
  }

  h3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 15px;
    padding-bottom: 30px;
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-inline: 10%;
  }

  #keramiker4 {
    background-color: #f4ede5;
    padding-bottom: 20px;
  }

  img {
    width: 100%;
  }

  section {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @media (min-width: 1000px) {
    .socialemedier {
      display: flex;
      justify-content: center;
      margin-left: 100px;
    }
    #keramiker4 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding-bottom: 0px;
    }
    img {
      margin-left: 200px;
    }
    

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 600px;
      margin: 0 auto;
    }

    p {
      margin-left: 20%;
      font-size: 15px;
    }

    h2 {
      font-family: "commuters-sans", sans-serif;
      font-size: 30px;
      padding-bottom: 30px;
      padding-top: 90px;
      line-height: 30px;
      margin-left: 8%;
    }

    h3 {
      font-family: "commuters-sans", sans-serif;
      font-size: 15px;
      padding-bottom: 30px;
      padding-top: 15px;
      line-height: 30px;
      margin-left: 13%;
    }

    section {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
</style>
