---
const { brand, navn, beskrivelse } = Astro.props;
---

<section id="keramiker3">
  <img src="/images/helle1.jpeg" alt="" />
  <div class="Helle">
    <h2>HELLE HANSEN</h2>
    <div class="text">
      <h3>SKULPTURELT BRUGSKUNST</h3>
      <p>
        Helles inspiration i hendes arbejde som keramiker kommer fra en sejltur for 10 år siden, hvor hun lavede et sæt dogmer, der gjorde det muligt at lave keramik på et vuggende skib ”Mit eneste værktøj på båden var en ostehøvl, og det er stadig
        det, jeg bruger i dag til at fremstille lange tynde bånd af ler. Alle objekter er unikke, hver med deres eget lille sving og personlighed. Porcelænsleret har et ædelt udtryk og en gennemskinnelighed, der perfekt komplimenterer mine lamper og
        fyrfadsstager. ” De seneste år har Helle tilføjet stentøj til sin kollektion og udviklet en silkemat glasur med lava, der er med til at give hendes arbejde dets unikke udseende. Hendes produkter er ikke kun dekorative og skulpturelle, men
        skabt til daglig og langvarig brug.
      </p>
      <div class="socialemedier filter">
        <a href="http://www.helle-hansen.dk/"><img src="/images/hjem.png" /></a>
        <a href="https://www.instagram.com/hellehansenceramics/"><img src="/images/ig.png" /></a>
        <a href="mailto:dogmekeramik@gmail.com"><img src="/images/mail.png" /></a>
      </div>
    </div>
  </div>
</section>

<style>
  .socialemedier {
    display: flex;
    justify-content: center;
    font-size: 14.5px;
  }

  .socialemedier.filter a:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 #d87093);
    cursor: pointer;
  }
  .socialemedier img {
    width: 50%;
    margin: 0;
  }

  a {
    color: palevioletred;
    font-family: "commuters-sans", sans-serif;
  }

  a:hover {
    color: black;
  }
  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 40px;
    line-height: 30px;
    text-align: center;
  }

  h3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-inline: 10%;
  }
  #keramiker3 {
    background-color: #f4ede5;
    padding-bottom: 20px;
  }

  img {
    width: 100%;
  }

  section {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @media (min-width: 1000px) {
    /* .socialemedier {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      padding-left: 8%;
    } */
    #keramiker3 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding-bottom: 0px;
    }
    img {
      margin-left: 200px;
    }
    h2 {
      order: 1;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 600px;
      margin: 0 auto;
    }

    p {
      margin-left: 20%;
    }

    h2 {
      font-family: "commuters-sans", sans-serif;
      font-size: 40px;
      padding-bottom: 30px;
      padding-top: 90px;
      line-height: 30px;
      margin-left: 8%;
    }

    h3 {
      font-family: "commuters-sans", sans-serif;
      font-size: 20px;
      padding-bottom: 30px;
      padding-top: 15px;
      line-height: 30px;
      margin-left: 13%;
    }

    section {
      margin-bottom: 40px;
      margin-top: 40px;
    }

    .socialemedier {
      padding-bottom: 10px;
      margin-left: 18%;
    }
  }
</style>
