---
const { brand, navn, beskrivelse } = Astro.props;
---

<section id="keramiker1">
  <img src="/images/signe1.webp" alt="" />
  <div class="clayform">
    <h2>CLAYFORM</h2>
    <div class="text">
      <h3>Menneskelige former</h3>
      <p>
        Signe Bailey er grundlægger af Clayform og medejer af Viktoria Ceramic Studio. ”At leve med genstande, der fremkalder en følelsesmæssig forbindelse, og dele det med andre er en luksus. For mig er denne form for luksus et spændende rum at lege
        og skabe”. Det er motivationen bag Clayform, hvor Signe producerer unikke designobjekter, der både har et funktionelt formål og påvirker rummet omkring dem med deres æstetik. Hendes inspiration kommer fra den store mangfoldighed i form, der
        udgør den menneskelige krop, og verden omkring os på mikroniveau. Dette fokus på detaljen, det klare udtryk i formsproget og en høj kvalitetsstandard følger med i den kulturelle tradition for dansk keramisk design. Alle hendes produkter er
        håndlavede i København og formet i hvidt stentøj eller porcelæn.
      </p>
      <div class="socialemedier">
        <a href="https://www.clayform.dk/">WEBSITE</a>
        <a href="https://www.instagram.com/clayform_dk/">INSTAGRAM</a>
        <a href="https://www.facebook.com/clayform/">FACEBOOK</a>
        <a href="mailto:info@clayform.dk">KONTAKT</a>
      </div>
    </div>
  </div>
</section>

<style>
  .socialemedier {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    font-size: 14.5px;
    margin-left: 6.1%;
  }

  a {
    color: palevioletred;
  }

  a:hover {
    color: black;
  }
  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 40px;
    line-height: 30px;
    text-align: center;
  }

  h3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-inline: 10%;
  }

  #keramiker1 {
    background-color: #f4ede5;
    padding-bottom: 20px;
  }

  img {
    width: 100%;
  }

  section {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @media (min-width: 1000px) {
    .socialemedier {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      padding-left: 8%;
    }
    #keramiker1 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding-bottom: 0px;
    }
    img {
      margin-left: 200px;
      width: 100%;
    }
    h2 {
      order: 1;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 600px;
      margin: 0 auto;
    }

    p {
      margin-left: 20%;
    }

    h2 {
      font-family: "commuters-sans", sans-serif;
      font-size: 40px;
      padding-bottom: 30px;
      padding-top: 90px;
      line-height: 30px;
      margin-left: 8%;
    }

    h3 {
      font-family: "commuters-sans", sans-serif;
      font-size: 20px;
      padding-bottom: 30px;
      padding-top: 15px;
      line-height: 30px;
      margin-left: 13%;
    }

    section {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
</style>
