---
const { brand, navn, beskrivelse } = Astro.props;
---

<section id="keramiker1">
  <img src="/images/signe1.webp" alt="" />
  <div class="clayform">
    <h2>CLAYFORM</h2>
    <div class="text">
      <h3>MENNESKELIGE FORMER</h3>
      <p>
        Signe Bailey er grundlægger af Clayform og medejer af Viktoria Ceramic Studio. ”At leve med genstande, der fremkalder en følelsesmæssig forbindelse, og dele det med andre er en luksus. For mig er denne form for luksus et spændende rum at lege
        og skabe”. Det er motivationen bag Clayform, hvor Signe producerer unikke designobjekter, der både har et funktionelt formål og påvirker rummet omkring dem med deres æstetik. Hendes inspiration kommer fra den store mangfoldighed i form, der
        udgør den menneskelige krop, og verden omkring os på mikroniveau.
      </p>
      <div class="socialemedier filter">
        <a href="https://www.clayform.dk/"><img src="/images/hjem.webp" /></a>
        <a href="https://www.instagram.com/clayform_dk/"><img src="/images/ig.webp" /></a>
        <a href="https://www.facebook.com/clayform/"><img src="/images/fb.webp" /></a>
        <a href="mailto:info@clayform.dk"><img src="/images/mail.webp" /></a>
      </div>
    </div>
  </div>
</section>

<style>
  .socialemedier {
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }

  .socialemedier.filter a:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 #d87093);
    cursor: pointer;
  }
  .socialemedier img {
    width: 50%;
    margin: 0;
  }

  a {
    color: palevioletred;
    font-family: "commuters-sans", sans-serif;
  }

  a:hover {
    color: black;
  }
  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 40px;
    line-height: 30px;
    text-align: center;
  }

  h3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 15px;
    padding-bottom: 30px;
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-inline: 10%;
  }

  #keramiker1 {
    background-color: #f4ede5;
    padding-bottom: 20px;
  }

  img {
    width: 100%;
  }

  section {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @media (min-width: 1000px) {
    .socialemedier {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      padding-left: 8%;
    }
    #keramiker1 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding-bottom: 0px;
    }
    img {
      margin-left: 200px;
      width: 100%;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 600px;
      margin: 0 auto;
    }

    p {
      margin-left: 20%;
    }

    h2 {
      font-family: "commuters-sans", sans-serif;
      font-size: 30px;
      padding-bottom: 30px;
      padding-top: 90px;
      line-height: 30px;
      margin-left: 8%;
    }

    h3 {
      font-family: "commuters-sans", sans-serif;
      font-size: 15px;
      padding-bottom: 30px;
      padding-top: 15px;
      line-height: 30px;
      margin-left: 13%;
    }

    section {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
</style>
