---
const { brand, navn, beskrivelse } = Astro.props;
---

<section id="keramiker2">
  <img src="/images/iben1.webp" alt="" />
  <div class="clibklap">
    <h2>CLIBKLAP</h2>
    <div class="text">
      <h3>Unik symbolisme</h3>
      <p>
        Iben Harboe er medstifter af brandet CLIBKLAP og medejer af keramiker fællesskabet Viktoria Ceramic Studio. Med kollektionen CLIBKLAP ønsker Iben Harboe og hendes partner Claire Maria Lehmann at videregive kunsthåndværk med liv og
        sanselighed, så kunderne får en fornemmelse af materialet og hånden bag, som understreger ordet ”håndlavet”. Iben og Claire skaber deres objekter med øje for funktion og værdsætter de variationer der opstår i produktionen gennem unikke
        glaserings- og brændeteknikker. Hvert keramisk objekt har sit eget unikke udtryk.
      </p>
      <div class="socialemedier">
        <a href="https://clibklap.dk/">WEBSITE</a>
        <a href="https://www.instagram.com/clib_klap/">INSTAGRAM</a>
        <a href="https://www.facebook.com/clibklap.dk/">FACEBOOK</a>
        <a href="mailto:mail@clibklap.dk">KONTAKT</a>
      </div>
    </div>
  </div>
</section>

<style>
  .socialemedier {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    font-size: 14.5px;
    margin-left: 6.1%;
  }

  a {
    color: palevioletred;
    font-family: "commuters-sans", sans-serif;
  }

  a:hover {
    color: black;
  }
  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 40px;
    line-height: 30px;
    text-align: center;
  }

  h3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-inline: 10%;
  }

  #keramiker2 {
    background-color: #f4ede5;
    padding-bottom: 20px;
  }

  img {
    width: 100%;
  }

  section {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @media (min-width: 1000px) {
    .socialemedier {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      padding-left: 8%;
    }
    #keramiker2 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding-bottom: 0px;
    }
    img {
      margin-left: 200px;
    }
    h2 {
      order: 1;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 600px;
      margin: 0 auto;
    }

    p {
      margin-left: 20%;
    }

    h2 {
      font-family: "commuters-sans", sans-serif;
      font-size: 40px;
      padding-bottom: 30px;
      padding-top: 90px;
      line-height: 30px;
      margin-left: 8%;
    }

    h3 {
      font-family: "commuters-sans", sans-serif;
      font-size: 20px;
      padding-bottom: 30px;
      padding-top: 15px;
      line-height: 30px;
      margin-left: 13%;
    }

    section {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
</style>
