---
const { brand, navn, beskrivelse } = Astro.props;
---

<section id="keramiker5">
  <img src="/images/pia1.jpeg" alt="" />
  <div class="pia">
    <h2>PIA LUND</h2>
    <div class="text">
      <h3>Nordiske silhuetter</h3>
      <p>
        Pia Lund er uddannet fra Designskolen Kolding i 2006 og stifter bag brandet ’Pia Lund Ceramics’. Siden da har Pia været en del af keramiker fællesskabet Viktoria Ceramic Studio. Udtrykket i Pia Lunds arbejde er nordisk og æstetisk. Hun
        udfører håndværk af høj kvalitet, smukke farvekombinationer og et sanseligt formsprog. Pia arbejder hovedsageligt i porcelæn, som hun indfarver og støber i flere lag. På værkstedet på Vesterbro skaber Pia mindre serier, som hendes farverige
        vaser ’Formidabel’ og krystalinspirerede skåle ’Hapilu’. Desuden skaber Pia Lund også en unika serie af håndmalede lysestager under navnet 'Silhuetter fra Skoven'.
      </p>
      <div class="socialemedier">
        <a href="https://pialundceramics.com/">WEBSITE</a>
        <a href="https://www.instagram.com/pialundceramics/">INSTAGRAM</a>
        <a href="https://www.facebook.com/pialundceramics/">FACEBOOK</a>
        <a href="mailto:info@pia-lund.dk">KONTAKT</a>
      </div>
    </div>
  </div>
</section>

<style>
  .socialemedier {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    font-size: 14.5px;
    margin-left: 6.1%;
  }

  a {
    color: palevioletred;
  }

  a:hover {
    color: black;
  }
  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 40px;
    line-height: 30px;
    text-align: center;
  }

  h3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-inline: 10%;
  }

  #keramiker5 {
    background-color: #f4ede5;
    padding-bottom: 20px;
  }

  img {
    width: 100%;
  }

  section {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  @media (min-width: 1000px) {
    .socialemedier {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      padding-left: 8%;
    }
    #keramiker5 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding-bottom: 0px;
    }
    img {
      margin-left: 200px;
    }
    h2 {
      order: 1;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 600px;
      margin: 0 auto;
    }

    p {
      margin-left: 20%;
    }

    h2 {
      font-family: "commuters-sans", sans-serif;
      font-size: 40px;
      padding-bottom: 30px;
      padding-top: 90px;
      line-height: 30px;
      margin-left: 8%;
    }

    h3 {
      font-family: "commuters-sans", sans-serif;
      font-size: 20px;
      padding-bottom: 30px;
      padding-top: 15px;
      line-height: 30px;
      margin-left: 13%;
    }

    section {
      margin-bottom: 40px;
      margin-top: 40px;
    }
  }
</style>
