---
const { brand, navn, beskrivelse } = Astro.props;
---

<section class="keramiker">
  <h2>{brand}</h2>
  <img src="/images/pialund.jpg" alt="" />
  <div class="text">
    <h3>{navn}</h3>
    <p>{beskrivelse}</p>
  </div>
</section>

<style>
  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    line-height: 30px;
    text-align: center;
  }

  h3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 25px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
  }

  .keramiker {
    background-color: #f4ede5;
  }

  img {
    width: 100%;
  }

  @media (min-width: 1000px) {
    .keramiker {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
    img {
      margin-left: 200px;
    }
    h2 {
      order: 1;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 600px;
      margin: 0 auto;
    }
  }
</style>
