<h1>KERAMIKERE</h1>

<style>
  h1 {
    font-family: "commuters-sans", sans-serif;
    font-size: 45px;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 40px;
  }

  @media (min-width: 1000px) {
    h1 {
      font-size: 50;
    }
  }
</style>
