<section>
  <div class="grid"><a href="kurser"><button> SE ALLE KERAMIK KURSER HER</button></a></div>
</section>
<style>
  section {
    margin-inline: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  button {
    border: none;
    padding: 20px;
    background-color: #977A15;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    border-radius: 5px;
    color: #f4ede5;
    cursor: pointer;
  }

  button:hover {
    background-color: #D3BCB0;
    color: black;
  }
  @media (min-width: 1000px) {
    section {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    button {
      border: none;
      padding: 20px;
      background-color: #977A15;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      border-radius: 5px;
      color: #f4ede5;
      cursor: pointer;
      justify-items: center;
    }

    button:hover {
      background-color: #D3BCB0;
      color: black;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
</style>
