<div class="grid">
  <div class="div1">
    <h1 class="h1_kontakt">Kontakt & åbningstider</h1>

    <p class="p_kontakt1">Du er altid velkommen til at kontakte os med spørgsmål eller særlige forespørgelser.</p>

    <ul class="ul_kontakt">
      <li class="li_kontakt">Send en mail til <a href=""> info@viktoriaceramicstudio.dk</a></li>
      <li class="li_kontakt">eller brug kontaktformularen herunder.</li>
    </ul>

    <p class="p_kontakt">Vi svarer inden for 48 timer på hverdage.</p>
  </div>

  <div class="div2">
    <img src="./images/kopper.png" alt="" />
  </div>
</div>

<style>
.div1 {
      /* margin-inline: 15%; */
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .div2 {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .h1_kontakt {
      font-family: "commuters-sans", sans-serif;
      font-size: 28px;
      padding-bottom: 30px;
    }

    img {
      width: 100%;
      padding-left: 0%;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      margin-inline: 15%;
    }

    .p_kontakt {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      padding-bottom: 25px;
    }
    .p_kontakt1 {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      padding-bottom: 25px;
      font-weight: bold;
    }

    .ul_kontakt {
      padding-bottom: 25px;
      padding-left: 40px;
      padding-right: 40%;
    }

    .li_kontakt {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      padding-bottom: 10px;
    }

    a {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      color: palevioletred;
    }




 

  @media (min-width: 1000px) {
    img {
    width: 70%;
    padding-left: 15%;
  }

  .div1 {
    margin-inline: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .div2 {
    margin-inline: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f4ede5;
    margin-inline: 0%;
  }

  .h1_kontakt {
    font-family: "commuters-sans", sans-serif;
    font-size: 30px;
    padding-bottom: 30px;
  }

  .p_kontakt {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 47px;
  }
  .p_kontakt1 {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 25px;
    font-weight: bold;
  }

  .ul_kontakt {
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40%;
  }

  .li_kontakt {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
  }

  a {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: palevioletred;
  }
  }
</style>
