---
const { titel, pris, billede} = Astro.props;
---

<section class="kurser">
  <img src={billede} alt="Kurser hos Viktoria Ceramic Studio" />
  <hr />
  <h4>{titel}</h4>
  <p>{pris}</p>
  <button>TILFØJ TIL KURV</button>
  <hr />
</section>

<style>
  h4 {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
    margin: 20px;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
  }

  hr {
    margin: 20px;
    margin-bottom: 12px;
  }

  img {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .kurser {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button {
    border: none;
    padding: 8px;
    background-color: black;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    border-radius: 5px;
    color: #f4ede5;
    cursor: pointer;
    width: 30%;
    margin-left: 4%;
  }

  button:hover {
    background-color: whitesmoke;
    color: #104739;
  }
</style>
