---
---

<div class="banner">
  <h1>KURSER</h1>
</div>

<div class="text">
  <h2>EKSKLUSIVT KERAMIK KURSUS I KØBENHAVN</h2>
  <p>På vores keramikskole tilbyder vi eksklusive keramik kurser for nybegyndere og øvede. Vælg enten at gå i dybden med drejeteknik på et weekend hold, eller tilmeld dig et længere forløb på vores aftenskole.</p>
</div>

<style>
  .banner {
    background-image: url("/images/kurser.webp");
    background-size: cover;
    height: 50vh;
    color: white;
    text-align: center;
  }

  h1 {
    font-family: "commuters-sans", sans-serif;
    font-size: 45px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    padding-top: 40%;
  }

  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 40px;
    line-height: 30px;
    margin-left: 3%;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 3%;
  }

  .text {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 10%;
  }

  @media (min-width: 1000px) {
    .banner {
      height: 75vh;
    }

    h1 {
      padding-top: 20%;
      font-size: 50px;
    }
    .text {
      display: grid;
      grid-template-columns: 1fr;
      margin-inline: 15%;
    }

    h2 {
      font-size: 30px;
    }
  }
</style>
