<div class="grid">
    <div class="div1">
      <h1 class="h1_historie">Om Viktoria Ceramic Studio</h1>
      <h2>Værksted, butik og keramik kurser i København</h2>
      <p>Viktoria Ceramic Studio Cph består af værksted, butik og keramikskole under samme tag i en baggård på Vesterbrogade, hvor <a href="">5 danske keramikere</a> udøver deres keramiske håndværk.</p>
      <p>Vil du lære at dreje, modellere eller lave dine egne skulpturer?</p>
     <a href="kurser"><button>  Se alle keramikkurser her</button></a> 
    </div>
  
    <div class="div2">
      <center><img src="./images/keramikere.jpeg" alt="" /></center>
    </div>
  </div>
  
  <style>
    button {
      border: none;
      padding: 20px;
      background-color: #104739;
      font-family: 'Raleway', sans-serif;
      font-size: 17px;
      border-radius: 5px;
      color:#F4EDE5;
      cursor: pointer;
    }
  
    button:hover{
      background-color: white;
      color: blue;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #F4EDE5;
    }
  
    img {
      width: 50%;
    }
  
    .h1_historie {
      font-family: bebas neue;
      font-size: 50px;
      padding-bottom: 30px;
    }
  
    h2 {
        font-family: 'Raleway', sans-serif;
      font-size: 17px;
      padding-bottom: 5%;
      font-weight: ;
    }
  
    p {
        font-family: 'Raleway', sans-serif;
        line-height: 1.5em;

      padding-bottom: 5%;
    }
  
    .div1 {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    .div2 {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    a {
      text-decoration: none;
      font-weight: bold;
      color: palevioletred;
    }
  
  
    @media (max-width: 600px) {
      button {
      border: none;
      padding: 20px;
      background-color: palevioletred;
      font-family: 'Raleway', sans-serif;
      font-size: 17px;
      border-radius: 5px;
      color: black;
      cursor: pointer;
    }
  
    button:hover{
      background-color: white;
      color: palevioletred;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      background-color: rgb(200, 190, 205);
    }
  
    img {
      width: 100%;
    }
  
    .h1_historie {
      font-family: bebas neue;
      font-size: 39px;
      padding-bottom: 30px;
    }
  
    h2 {
        font-family: 'Raleway', sans-serif;
      font-size: 17px;
      padding-bottom: 5%;
    }
  
    p {
        font-family: 'Raleway', sans-serif;
      font-size: 17px;
      padding-bottom: 5%;
    }
  
    .div1 {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    .div2 {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    a {
      text-decoration: none;
      font-weight: bold;
      color: palevioletred;
    }
    }
  </style>
  