<div class="grid">
    <div class="div1">
      <h1 class="h1_historie">OM VIKTORIA CERAMIC STUDIO</h1>
      <h2>VÆRKSTED, BUTIK OG KERAMIK KURSER I KØBENHAVN</h2>
      <p>Viktoria Ceramic Studio Cph består af værksted, butik og keramikskole under samme tag i en baggård på Vesterbrogade, hvor <a href="">5 danske keramikere</a> udøver deres keramiske håndværk.</p>
      <p>Vil du lære at dreje, modellere eller lave dine egne skulpturer?</p>
     <a href="kurser"><button>  SE ALLE KERAMIK KURSER HER</button></a> 
    </div>
  
    <div class="div2">
      <center><img src="./images/keramikere.jpeg" alt="" /></center>
    </div>
  </div>
  
  <style>

    button {
      border: none;
      padding: 20px;
      background-color: #104739;
      font-family: 'Raleway', sans-serif;
      font-size: 17px;
      border-radius: 5px;
      color:#F4EDE5;
      cursor: pointer;
    }

  
    button:hover{
      background-color: whitesmoke;
      color: #104739;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      background-color: #F4EDE5;
    }
    img {
      width: 100%;
    }
  
    .h1_historie {
        font-family: "commuters-sans", sans-serif;
      font-size: 20px;
      padding-bottom: 30px;
    }
  
    h2 {
        font-family: 'Raleway', sans-serif;
      font-size: 15px;
      padding-bottom: 5%;
    }
  
    p {
        font-family: 'Raleway', sans-serif;
      font-size: 15px;
      padding-bottom: 5%;
      line-height: 1.5em;
    }
  
    .div1 {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    .div2 {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    a {
      text-decoration: none;
      font-weight: bold;
      color: palevioletred;
    }
    @media (min-width: 1000px) {
      button {
      border: none;
      padding: 20px;
      background-color: #104739;
      font-family: 'Raleway', sans-serif;
      font-size: 17px;
      border-radius: 5px;
      color:#F4EDE5;
      cursor: pointer;
    }
  
    button:hover{
      background-color: whitesmoke;
      color: #104739;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #F4EDE5;
    }
  
    img {
      width: 50%;
    }
  
    .h1_historie {
        font-family: "commuters-sans", sans-serif;
      font-size: 28px;
      padding-bottom: 30px;
    }
  
    h2 {
      font-family: "commuters-sans", sans-serif;
      font-size: 15px;
      padding-bottom: 5%;
      font-weight: ;
    }
  
    p {
        font-family: 'Raleway', sans-serif;
        line-height: 1.5em;
        font-size: 15px;

      padding-bottom: 5%;
    }
  
    .div1 {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    .div2 {
      margin-inline: 15%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    a {
      text-decoration: none;
      font-weight: bold;
      color: #d87093;
    }
  
    }
  </style>
  