---
const {image, overskrift, designer, pris, tekst} = Astro.props;
---

<!-- <section>
    <img src="./produkt_billeder/pialund1.webp" alt="">
    <h2>{overskrift}</h2>
    <h3>{designer}</h3>
    <h4>{pris}</h4>
</section> -->