<div class="grid_1-1">
  <img class="produktimg" src="/images/Viktoria-024.jpg" alt="" />
  <div class="produkt">
    <h1 class="overskriftp1">Navn på produktet</h1>
    <h2 class="overskriftp2">CLAYFORM</h2>
    <h3 class="overskriftp3">Prisen</h3>
    <div>
      <p>- 1 +</p>
    </div>
    <button>Tilføj til kurv</button>
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    font-family: "commuters-sans", sans-serif;
    font-size: 18px;
    margin-left: 30%;
    border-style: solid;
    border-color: black;
    width: 18%;
    letter-spacing: 12px;
    padding-left: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  /* til siden produkt */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
  }

  /* h2 på produkt information */
  .overskriftp1 {
    font-family: "commuters-sans", sans-serif;
    font-size: 29px;
    margin-left: 30%;
    padding-top: 40px;
  }

  /* h3 på navn på produkt */
  .overskriftp2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 17px;
    margin-left: 30%;
    padding-top: 20px;
  }

  /* h3 på farven */
  .overskriftp3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 17px;
    margin-left: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .overskriftp4 {
    font-family: "commuters-sans", sans-serif;
    font-size: 17px;
    margin-left: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  button {
    font-family: "commuters-sans", sans-serif;
    font-size: 17px;
    margin-left: 30%;
    width: 200px;
    border: none;
    background-color: #343333;
    color: white;
    padding: 10px;
    margin-top: 20px;
  }

  /* sat siden ind i media så det er responsitv- altså også fungerer i mobil størrelse */
  @media (max-width: 800px) {
    .produktimg {
      grid-column: 1/3;
      grid-row: 1/2;
    }

    .produkt {
      grid-column: 1/3;
      grid-row: 2/3;
    }

    .overskriftp1 {
      font-size: 21px;
      padding-top: 40px;
      margin-left: 15%;
    }

    .overskriftp2 {
      padding-top: 36px;
      margin-left: 30%;
      padding-bottom: 5px;
    }

    .overskriftp3 {
      margin-left: 38%;
      padding-bottom: 20px;
    }

    .menu {
      display: block;
    }

    button {
      margin-left: 16%;
    }

    p {
      font-family: "commuters-sans", sans-serif;
      font-size: 18px;
      margin-left: 29%;
      border-style: solid;
      border-color: black;
      width: 40%;
      letter-spacing: 12px;
      padding-left: 12px;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
</style>
