<section>
  <!-- <img class="overskrifter" src="images/smugkig.svg" alt="nyeste" /> -->

  <div class="parallax">
    <img class="smugkig_over" src="images/viktoria1.png" alt="smug" />

    <div></div>
  </div>
</section>

<style>
  .parallax {
    /* The image used */
    background-image: url("/images/parralax.webp");

    /* Set a specific height */
    min-height: 90px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  section {
    width: 100%;
  }

  .smugkig_over {
    width: 100%;
  }
  @media (min-width: 1000px) {
    section {
      width: 100%;
    }

    .smugkig_over {
    width: 100%;
  }

  .parallax {
    /* The image used */
    background-image: url("/images/Background.jpg");

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  }
</style>
